[2015-11-29 12:22] Vaberer opened #1 "Integration with existing projects"
Hello,

Your library seems to be very handy and I really consider it to use it in my projects. What I would appreciate is to somehow help me to substitute all my current ```NSLocalizedString()``` in my code into your approach. Because manually changing all my strings is pretty big task and it would definitely be able to do it just with one command/script.

Thanks.

Best,
Patrik

[2015-11-29 12:30] JiriTrecak commented on #1
Hey Patric,

It is definitely something I would like to do in the future - I understand that some project are just massive and if there is a way how to automate it, that would make a lot of people happy.

I am putting it to queue for version 0.3, after ObjC support is out, it is definitely task worth doing but would require some changes to the main generator, or maybe I would create it as standalo

[2015-12-11 05:23] ed-mejia opened #4 "Allow to be used within frameworks"
Hi, First of all I must to say this Lib is Just AWESOME!..

One thing is that in my project I'm using a framework to share functionality between extensions and the App, said that I want to keep every single localization string within the framework so it can be used by all the extensions and the App itself.

But at the moment it's not working because the generated code are not public.

[2015-12-11 07:17] JiriTrecak commented on #4
Hey! Thank you for the kind words.

You are right - this is something that should be done. I made it public to the master ; it is needed change - you can download the new version and it should work :)

Have a nice day and let me know if it is okay so I can close it!
Jiri

[2015-12-11 10:16] ed-mejia commented on #4
@JiriTrecak  works like a charm!!!, thanks! :+1:

[2015-12-11 10:17] JiriTrecak commented on #4
Glad to hear :)

[2015-12-11 10:17] #4 closed

[2015-12-11 10:59] Ewg777 opened #6 "Support multi-line strings"
My Localizable.strings contains
[code]
Laurine generates
[code]
Swift Compiler Error Localizations.swift:64:1: Expected declaration

[2015-12-11 11:03] JiriTrecak commented on #6
Hello and welcome,

Yes, this is correct. What it actually generates is "$KEY".localized, not "$VALUE".localized ; .localized is extension to String type, that takes that key and converts it to value using NSLocalizedString:

NSLocalizedString("Message", comment: nil) –> which when used in your code will produce "WTF\r.."

Hope it helps!

[2015-12-11 11:04] JiriTrecak commented on #6
Hey Ewg,

Thank you for your feedback - I will look into it as soon as possible, as this really breaks a lot of functionality. Will let you know when it is ready.

Sincerely,
Jiri

[2015-12-11 11:44] #6 closed

[2015-12-11 11:46] JiriTrecak commented on #6
It is fixed - generator accounted for \n, but not for \r and the comment showed up on the next line. I will make more clever solution in the future so it renders whole string to multiline comment, but for now I am just replacing it with empties.

Change is in master and working.

Enjoy!

[2015-12-14 07:01] ed-mejia opened #7 "Improvement Request"
Hi,

Regarding Git the script becomes a little annoying because of the timestamp added to the documentation header:

//
// Autogenerated by Laurine - by Jiri Trecak ( http://jiritrecak.com, @jiritrecak )
// Do not change this file manually!
//
// **2015-12-14 at 5:48 PM**
//

That makes the file to be included on every commit just because of the date time update.

I think there are two options to

[2015-12-14 07:36] JiriTrecak commented on #7
Hey Edinson,
thank you for your feedback!

I have to say I already encountered exactly same thing. The issue actually runs deeper - if you are not working alone, it becomes major hinderance. There is also second problem with script that I resolved over the weekend - I thought it might be good idea to lock that file, unfortunately git then just refuses to cooperate with you completely when you need

[2015-12-14 10:34] ed-mejia commented on #7
Cool adding that snippet seems to do the trick, it's much better now.

Thanks!

[2015-12-14 10:37] JiriTrecak commented on #7
Glad I could help!

[2015-12-15 02:39] richardbuckle commented on #7
Hi guys,

Firstly, I would like to make you aware of the options in Xcode for specifying the inputs and outputs that it uses for dependency testing. Screenshot below. These reduce unnecessary invocations of the build step.

![screen shot 2015-12-15 at 02 30 35](https://cloud.githubusercontent.com/assets/227024/11800418/2b2cfb1c-a2d4-11e5-9c3c-d451b3e94df2.png)

Secondly, I *very* strongly disagree

[2015-12-15 06:59] JiriTrecak commented on #7
Hey Richard

I know about the first option ; I considered it and realized, that while we might know, not many people know - there is nothing preventing you to modify that script on your own - that is why it is just example, right. My focus is to create something that is so easy to use, that you don't have to think about - sure, might seem like small change, but ctrl+c with everything still seem mo

[2015-12-15 07:35] Vaberer opened #8 "Keys as language keywords"
Hello Jiri,

I coincidentally bumped into a problem where I used a key ```YES``` and apparently yes is also a keyword in Objective-C so a generated code could not compile. I suggest to use a key but with a prefix. Do you have any other/better solution?

Best,

Patrik

[2015-12-15 07:45] JiriTrecak commented on #8
Hey Vaberer,

Thanks for noticing - This will require some deeper research as I would have to go through all, but should really be done. Currently, I am prefixing keys with _ where it is needed - for example, if your key starts with number (as, for example, "10thClass" is not valid name of property and will fail in both objc & swift).

If you would like to help with that and possibly make pull req

[2015-12-15 08:05] JiriTrecak opened #9 "Plural support"
**Introduction & My approach**

Hello guys, I am glad you are enjoying this project so much - it is trending, people write about it, and I really strive to make it the ultimate solution for translations in the application.

Now, the base is already great, but what is really missing is support for Plurals. [You probably know how it is done in the iOS](https://developer.apple.com/library/ios/documen

[2015-12-15 08:21] Frizlab commented on #9
I actually wrote a _very_ complete (maybe a bit over engineered) solution to support custom replacements and automatic attributed strings directly in strings files (no stringsdic)……… but I cannot divulge the source as I do not own it :(
The plural is handled (in part) this way: `#n# <mouse:mice>` (and for weird languages with more than 2 forms it works too: `#n# <singular:dual:plural>` etc.
I am n

[2015-12-15 11:01] #7 closed

[2015-12-16 19:25] sohayb opened #10 "Unable to run on El Capitan"
I'm unable to run the package under El Capitan :(
getting this error:
[code]

[2015-12-17 12:12] JiriTrecak commented on #10
Hey sohayb,

I just tried to run it on El Capitan and it seems that it works for me, from both downloaded script and brew (are you sure you are trying it in folder where it is if you have it downloaded? :))

Aren't you trying to do

    swift LaurineGenerator.swift ?

Because if downloaded from brew, there is no need to write "swift" at the beginning of the command - it won't work and it will thro

[2015-12-17 12:56] sohayb commented on #10
Cool, it worked! Now the command runs smoothly, except there's nothing generated :(
Running
[code]

[2015-12-17 13:01] JiriTrecak commented on #10
Make sure you are in the folder where the "localizable.strings" file actually is (> cd path_to_loc.strings), the logging of the errors in the command line is coming in future version (currently, it will only tell you that those files do not exists if you run it from xcode.

[2015-12-17 13:03] sohayb commented on #10
This is embarrassing :) there was a leading space in the file name!
Thanks for your help.

[2015-12-17 13:03] #10 closed

[2015-12-17 13:04] JiriTrecak commented on #10
You are most welcome. Enjoy the tool!

[2015-12-23 14:13] donaldpiret opened #11 "Compatibility with XCode xliff export"
Is there any way to get this to work with the Xcode "Export for localization" functionality?
When I create a custom Localizable.strings file to use for Laurine (which rocks by the way), the content of that file does not get exported to my xliff files.

[2015-12-23 23:14] JiriTrecak commented on #11
Hey Donald,

I will look into it later this week, I have few things that I want to investigate and this is one of them. My understanding is that xliff files are only for interchange between you as developer and translator, but they should get decoded back to Localizable.strings once you actually import them, right (please correct me if I am wrong)? So that means that at the end (once you do round

[2015-12-29 01:28] donaldpiret commented on #11
Hi Jiri,

Merry Xmas,
Your understanding of the xliff files is entirely correct. The only thing that makes Laurine hard to use with the built-in xliff system is that apple apparently does not allow you to export to xliff existing .strings files, and will only extract translations from storyboards or from NSLocalizedString calls in the code.
Because of this the only way to work with both systems is

[2015-12-30 13:18] #8 closed

[2015-12-30 13:28] JiriTrecak commented on #1
I've put this tool into solid roadmap - it is coming in version 0.4, after plural and gender support is out. Thank you!

[2015-12-30 13:28] #1 closed

[2015-12-30 15:15] JiriTrecak commented on #9
Just so all know the progress, I am going with following solution:

Definition in .strings:
[code]
or with parameters:
[code]

Actual code:
[code]
or with parameters:
[code]

I got inspiration from library from Mattt (https://github.com/mattt/TTTLocalizedPluralString), it is very nicely done and basically goes around iOS localization engine - because it implements the rules on its own. By using th

[2015-12-30 15:20] victor opened #12 "Repeated usage"
If I understand the usage correctly, you need to remove instances of `NSLocalizedString` and its variations from your code, and then replace them with the corresponding generated `Localizations.…` properties and variables.

But then, this means that `genstrings` command won't be able to extract these strings again, as it won't find them. How is then further maintenance of `Localizable.strings` sup

[2015-12-30 15:36] JiriTrecak commented on #12
Hello Victor,

Yes, you are absolutely correct with your understanding. Thought, I'd like to add two things that come from my experience (and you might have different one, but here is my piece):

Having keys / values in code is terrible when building huge projects. It is not on one place and therefore maintenance is hell. Also, it goes against usual paradigms of other languages (see android, where

[2015-12-30 15:39] JiriTrecak commented on #12
As for removing NSLocalizedString with actual code, converter tool is coming probably within the month, that will do that for you (but it is quite complicated, so no promises on date yet.)

[2015-12-30 15:53] victor commented on #12
Thanks Jiri,

 yes I'm aware of the maintenance nightmare of using string literals within the code, that's why I have all of them as constants/enums in a centralized file. But I could not use that approach for localization, as `genstrings` is confused when not using actual strings.

 I'm thinking I can always write code using `NSLocalizedString` until it is working and tested, and then run `genstr

[2015-12-30 15:53] #12 closed

[2016-01-04 06:31] ed-mejia opened #14 "Special characteres issue"
Hi,

In my localization file I have an string like this:
[code]

I used ***\r\n*** because I need to break the line at that point, the problem is that the generated Swift file looks like this:

[code]
Somehow the break line is being applied to the source code as well, as a result the file does not compile.

[2016-01-04 07:53] JiriTrecak commented on #14
Hey,

It has been fixed already, but the change apparently did not make it to master. I merged everything so the branches are in sync - just download new version of the generator and it should work - I tested with your string and had no problem.

JT

[2016-01-04 12:53] ed-mejia commented on #14
Great! thanks now it's working perfect :tada:

[2016-01-04 12:53] #14 closed

[2016-01-04 13:21] ed-mejia opened #15 "Fix support for Frameworks"
Hi,

Actually the code does not support frameworks properly, the generated String extension:

[code]

It's using **_NSBundle.mainBundle()**_, as a result if you call a localized var from the App target, the system will load the localized string from the localization file of that target and not from the framework.

I'm testing a little hack:

[code]

I created an internal dummy class in order to fe

[2016-01-05 00:16] ed-mejia commented on #15
I'm thinking if this is the best way or not, For example a solution could be to create different Localizations files per target something like:

LocalizationsApp.swift
LocalizationsKit.swift <- Framework
LocalizationsWatch.swift
LocalizationsWidget.swift

This way every target has only the set of translations required by the target but leads to duplication if the same strings are needed in differe

[2016-01-12 17:08] jarleif opened #18 "Nested Structures don't seem to be working."
Nested Structures don't seem to be working in the latest version on github for Swift.
I tried both of these:
"PROFILE-NAVIGATION_BAR-ITEMS-DONE" = "Done" // -c -d -
"PROFILE.NAVIGATION_BAR.ITEMS.DONE" = "Done" // -c -d .

I tried specifying and leaving the defaults, neither worked. I even tried adding a new string to the example and that didn't work.

It changed it to /// Base translation: Thanks

[2016-01-13 08:51] JiriTrecak commented on #18
Hello Jared,

I am sorry, seems like latest pull request broke some small piece critical functionality and I missed it when reviewing it. I pushed fix to master and tested, it now seems to work again.

Thanks for the find! Tests are coming to prevent that in the future.

Have a nice day

Jiri

[2016-01-13 14:48] jarleif commented on #18
Hi Jiri,
Thanks for the quick fix. It seems to be working now. This makes dealing with the localized strings much easier.

Have you used the Aggregate target before? It is under the Other section when adding a new target. I setup my project so that I have an Aggregate target called Pre-Build-Scripts that I added the Laurine run script to. I then added the Pre-Build-Scripts target to be a Target De

[2016-01-13 14:53] JiriTrecak commented on #18
Hey, good to hear. also, yes, I've used it on few projects as well - so far, there is no problem, at least from my experience.

But if you check the example project now, I actually moved the laurine run phase before build phase in the main target and it is built first. Also, if you have whole-module-optimization enabled, it does not rebuild whole project, only the changes, so cmd+B or cmd+U is usu

[2016-01-13 14:56] jarleif commented on #18
It does, Thanks.

[2016-01-13 14:56] #18 closed

[2016-02-01 09:34] Ewg777 opened #22 "error: unknown attribute 'exported'"
Version 7.3 beta (7D129n)
[code]

[code]

[2016-02-07 15:47] Dschee opened #23 "SwiftLint Violations"
I just started using Laurine in a project that also uses SwiftLint to ensure code conventions. It appears that Laurines produced code does not comply to some conventions, for example I get this:

`warning: Colon Violation: Colons should be next to the identifier when specifying a type. (colon)`

Could we make the generated code comply to the Swift conventions expressed by https://github.com/realm/

[2016-02-19 17:12] wess commented on #22
:+1:

[2016-02-21 12:43] JiriTrecak commented on #23
Hello!

Sorry it took me so long - I've been unavailable for few weeks, but I am back in business!

The next version of Laurine is surely coming soon and I am definitely making sure it complies under linted project, even with strict settings.

For now, thanks for trying it and I will let you know here once this is done.

Sincerely
JT

[2016-02-21 12:45] JiriTrecak commented on #22
Hello guys!

Sorry it took me so long - I've been unavailable for few weeks, but I am back in business!

I have Laurine modified for version 7.3 already, but I am still making some changes and adding more features, so it might take little more time - but by the time 7.3 is released - possibly sooner, it will be ready to comply once again.

For now, thanks for trying it and I will let you know here

[2016-02-21 12:47] JiriTrecak commented on #15
Hello Ed!

Sorry it took me so long - I've been unavailable for few weeks, but I am back in business!

I will make sure to figure out how to do it the best way ; While your idea is solid and definitely one way to go, I still believe it should be ready for everything by just downloading - I don't want to force some new conventions etc. I am still open to suggestions, but I should be able to code it

[2016-02-24 08:12] Ewg777 opened #25 "Not correct nested result"
Not issue but add some warning would be good.
Localizable.strings

[code]

Laurine will create without any warnings

[code]

[2016-02-24 08:28] JiriTrecak commented on #25
Hey!

Thank for the feedback, and you are right - it is actually already on my roadmap. While it can provide warning, usually it is not that good because this happens quite often. So instead, the laurine in next version will generate ->

[code]

And the StringValue will become reserved keyword for last part of the struct chain.

Thank you and have a nice day!
Sincerely
JT

[2016-02-29 10:13] fabb opened #26 "Spaces not Replaced"
Localized String Identifiers can have spaces in them.

`"This is my localizable string" = "This is my localizable string"`

This will result in the following generated code:

`public static var This is my localizable string : String = "This is my localizable string".localized`

Laurine should replace this whitespace characters with some safe character, like an underscore, or just remove it.

[2016-02-29 14:58] fabb opened #29 "Unit Tests"
Unit tests would be awesome. Any idea how to integrate them best? Create an OSX Xcode project with a test target? Or use Swift Package Manager?

[2016-03-01 07:23] fabb opened #30 "Compiled Script"
Running `LaurineGenerator.swift` in the run phase takes about 5 seconds with my localization file (containing 460 strings).

When first compiling the script to an executable, the generation time only takes 0.25 seconds.

I know in the example project, the output is only generated if existing output is not newer than the localization input file. For the sake of having a clean and reproducible build

[2016-03-12 05:39] amelnychuck commented on #22
Any update on the availability date of the fix, or maybe a chance of making a fix branch for this issue in the meantime?

[2016-03-12 07:56] #26 closed

[2016-03-12 08:02] JiriTrecak commented on #22
Hello guys, I just pushed the fix and first batch of updates that I am doing, could you try? :)) Should work for both 7.2 and 7.3.

Thanks!

[2016-03-12 13:15] Ewg777 commented on #22
@JiriTrecak Awesome! Thanks!

[2016-03-12 13:15] #22 closed

[2016-03-17 10:47] JiriTrecak commented on #30
Makes sense - though currently, I am trying to finish functionality that I promised while ago and because of my startup I just did not have time to do - but I am finally getting shiz done. Once those things are in, I think we could do something like this - if you are up for it, I am definitely open to PRs for this, though I would probably do completely different branch.

As for the library generat

[2016-03-24 09:52] pixeldock opened #31 "Xcode 7.3 support"
First of all: Thanks for developing and sharing Laurine, I really like it a lot!

Unfortunately with the recent release of Xcode 7.3 `Laurine Generator` produces the following error and warnings:

![bildschirmfoto 2016-03-24 um 10 48 02](https://cloud.githubusercontent.com/assets/540645/14013656/ed79fb52-f1ad-11e5-9086-19b6ea223d92.png)

[2016-03-24 10:06] JiriTrecak commented on #31
Hello!

Thanks for using it :) I updated Brew few minutes ago, so when you do brew / update latest version (if you have it installed locally), then you will have the latest version with all the fixes. (v0.2.2)

If you have downloaded Laurine directly, please download LaurineGenerator.swift directly from master and replace your current version with it (works in 7.3). I will go through example proje

[2016-03-24 10:15] JiriTrecak commented on #31
So I just tested and it works okay, I also just removed the warnings so it does not show anything in the project. Hope it will work flawlessly for you now!

Sincerely,

Jiri T

[2016-03-24 10:23] pixeldock commented on #31
Thanks for the quick reply!

I just added the latest version of LaurineGenerator and now I get the following errors (in Xcode 7.3):

![bildschirmfoto 2016-03-24 um 11 18 42](https://cloud.githubusercontent.com/assets/540645/14014424/a4fc0410-f1b2-11e5-9573-d9a68517ba35.png)

![bildschirmfoto 2016-03-24 um 11 19 04](https://cloud.githubusercontent.com/assets/540645/14014434/b36fbd84-f1b2-11e5-88f9-

[2016-03-24 10:26] JiriTrecak commented on #31
Yes, this happens when you connect Laurine to project (that the LaurineGenerator.swift can be found in your project tree). You have to run it either through command line, OR through build script. XCode does not allow top-level expressions when compiling your project, which is exactly what you are encountering.

[2016-03-24 10:26] pixeldock commented on #31
It works, no warnings. Thanks a lot!

[2016-03-24 10:27] JiriTrecak commented on #31
No problem, glad to help.

Have a nice day!

JT

[2016-03-24 10:27] #31 closed

[2016-05-01 19:59] deville opened #32 "Support for dictionaries"
I need to map error codes to localized strings which currently does not seem to be possible with Laurine (or am I missing something?)

I would like to be able to write something like
[code]
or
[code]

[2016-05-02 12:55] JiriTrecak commented on #32
Hello, unfortunately, this is not possible at the moment. This might become possible once I am done with plurals because they will have something similar, but it is not ready yet.

Have a great day

Jiri

[2016-05-07 23:31] Dschee opened #33 "Detect unused keys"
It would be great if Laurine could **help finding unused keys** to make sure the `Localizable.strings` file can be kept clean over time. Before using Laurine I used a script to make sure keys not appearing in any `NSLocalizedString` would be deleted. But doing something similar with Laurine isn't possible as the command varies quite a lot (I'm using the dot-syntax leading to names like `Localizati

[2016-05-08 14:48] pfandrade commented on #11
Hey,

If you generate code that calls NSLocalizedString* macros directly instead of using the swift String extensions (like you're doing for ObjC) then Xcode will pick up those string when exporting to XLIff.

The Swift extensions do not bring any advantages anyway.

[2016-05-08 14:57] pfandrade commented on #9
Why is this needed?

If you have a key in your .strings file like so:

`"Localizations.Profile.Friends" = "%d Friend(s)";`

It will get picked up by Laurine. The you create your .stringsdict and just use the `"Localizations.Profile.Friends"` as the key. At runtime the .stringsdict will be checked first and your pluralization will be done by whatever is defined in the .stringsdict

Isn't this suffi

[2016-05-27 22:31] Dschee commented on #23
Still nothing happened here, right? At least I'm still seeing all the warnings ... do you plan updating anytime soon?

[2016-07-06 07:39] #11 closed

[2016-07-06 07:48] JiriTrecak commented on #32
Hey Deville,

after few solid hours of investigation and thinking, I decided that we cannot really support something like this.
The problem is not that it would not be possible to do, but it would present some special syntax to laurine that is not supported by native localization functionality of the iOS/OSX, therefore requiring people to learn something new and present something that can potentia

[2016-07-06 07:48] #32 closed

[2016-07-06 07:55] JiriTrecak commented on #9
After thinking if that is the best solution, I figured this is - thank you. I will add information about this into README and also modify the example so it contains this example as well.

[2016-07-06 07:55] #9 closed

[2016-08-08 18:02] esetnik opened #37 "Deprecated homebrew dependencies"
[code]

[2016-08-09 05:55] ed-mejia opened #38 "Swift 3 Support?"
Any plans to update the project to swift 3?

If you need a hand just create a branch and I could help.

[2016-08-09 06:03] JiriTrecak commented on #38
Would definitely be appreciated! I have it on my list, but I know that there are people that already use it. I will branch it. There shouldn't be any changes to exported class / structure, I assume, the only real issue is the code of the export script.

Thank you,
Jiri

[2016-08-09 06:04] JiriTrecak commented on #38
I've created a new branch for this task:
https://github.com/JiriTrecak/Laurine/tree/swift-3

[2016-08-09 06:07] ed-mejia commented on #38
Cool! 👍

[2016-08-10 03:06] ed-mejia commented on #38
Hi @JiriTrecak

I submitted a pull request that updates the generator for the new Swift 3 syntax and changes, I did not migrate the Example project though.

The example project contains another library of yours (**Warp**) that needs to be migrated first, I personally think that this example is too elaborated for the purpose of this library but anyway if you migrate that library I could give a hand

[2016-09-14 21:28] nikitabelosludtcev commented on #38
Can I continue to use Swift 2.2 to generate localizations files? I need to publish my project to the Appstore, but I can't do it without localizations(

[2016-09-15 08:19] JiriTrecak commented on #38
@nikitabelosludtcev  Hey, you should absolutely be able to do it - I will be changing master to 3.0 version over the coming weekend, however, I will keep legacy 2.2 version on the new branch until support is dropped.

In the new XCode, 2.3 is supported and 3.0 is supported, but if you need to finish it on 2.2, I advise you to download XCode 7.3.1 and have it installed on your machine as well https

[2016-09-19 16:40] nikitabelosludtcev commented on #38
Please... make Xcode 8 support, we really need it.
https://github.com/qmchenry/Laurine/commit/fd8116a2f254bd0ff050c80dfecce85ab9cffd80 this commit works buggy.

[2016-09-19 19:58] JiriTrecak commented on #38
Working on it :)

[2016-09-21 08:59] pgorzelany commented on #38
Any news about this?

[2016-09-21 10:37] JiriTrecak commented on #38
I expect to have it within few hours, I am current working on my startup that we hope will change the mobile programming as we know it, so it is quite time-consuming. But this is now the top priority for everyone, so expect it today.

If you are interested - http://supernova.studio/coming-soon/ :) Sorry for delays guys!

[2016-09-21 14:16] JiriTrecak commented on #38
Just quick update, working through conversion, missing few last things and then some heavy testing, if everything works, then we are golden :)

[2016-09-21 16:08] #33 closed

[2016-09-22 10:58] bhallamohit commented on #38
hi @JiriTrecak

Can you please commit these changes, ASAP.

[2016-09-22 13:48] nikitabelosludtcev opened #40 "Can't build Laurine with Swift 2.2 on Mac Sierra"
I trying to build it from Terminal but receive the error.
Do you know what's the problem?
![unspecified](https://cloud.githubusercontent.com/assets/1511214/18750571/bcb9b6d2-80ec-11e6-85de-ae938e56d6dd.png)

[2016-09-23 09:30] JiriTrecak commented on #38
@bhallamohit they are already there:
https://github.com/JiriTrecak/Laurine/tree/master-3
I am still working on resolving some issues that are due to changes that needed to be made, but most of the stuff already works.

[2016-09-23 09:50] JiriTrecak commented on #40
Once I am done with the changes for 3.0, I will look into it., not sure. But This seems that it is not connected to Laurine itself.. Maybe look at something like this:
http://stackoverflow.com/questions/34180163/xcode-7-2-could-not-build-objective-c-module

Seems similar to your issue. Please let me know if you solved it, as I will want to support 2.2 version as well and this issue might affect mo

[2016-09-23 11:51] JiriTrecak commented on #38
The version for 3.0 is here - tested and fully working.
https://github.com/JiriTrecak/Laurine/tree/master-3

I will be moving it to master and create 2.2 branch this afternoon, after which everything should be solved and working for both versions.

Have a good one everyone!

[2016-09-23 12:16] #23 closed

[2016-09-23 12:47] bhallamohit commented on #38
thnx jiri,

for showing concern.

Thanks,

​--

Mohit Bhalla |Jr. Associate - IT
mohit.bhalla@daffodilsw.com <sachin.mehndiratta@daffodilsw.com>
15th Floor, Block A3,

DLF Ltd SEZ, Silokhera,

Sec-30, Gurgaon, Haryana (India)

Mobile: +91-9999723485
Phone : +91-0124-4742150
Web :   www.daffodilsw.com

On Fri, Sep 23, 2016 at 5:21 PM, Jiří Třečák <notifications@github.com>
wrote:

[2016-09-23 14:17] JiriTrecak commented on #38
Laurine now supports 2.2 / 3.0 properly:

Swift 3.0
https://github.com/JiriTrecak/Laurine

Swift 2.2
https://github.com/JiriTrecak/Laurine/tree/Swift-2.2

If you find any issues with it, please open the new ticket. Have a great one!

[2016-09-23 14:17] #38 closed

[2016-09-26 14:14] JiriTrecak commented on #40
@nikitabelosludtcev any luck solving your problem? I tested thoroughly a did not encounter this issue, maybe something about configuration?

[2016-09-27 08:30] adamszeremeta opened #42 "How to use this with many languages?"
Hello,
currently I have one language supported in app but soon I have to add another. How this script should be configured to support both languages without changes in code?

[2016-09-27 08:32] #42 closed

[2016-09-27 10:48] JiriTrecak commented on #42
Hey, I assume you already figured out? :) You only provide one (english) file to Laurine, all translations are taken through keys as you would normally. Internally, Laurine uses the same localization system present natively in iOS, no exceptions.

Have a great day,

Jiri

[2016-11-04 17:57] #40 closed

[2016-11-07 15:15] rlester commented on #37
Now its an error:

`Error: Calling Formula.sha1 is disabled!
Use Formula.sha256 instead.
/usr/local/Homebrew/Library/Taps/jiritrecak/homebrew-laurine/laurine.rb:4:in `<class:Laurine>'
Please report this to the jiritrecak/laurine tap!
Please report this bug:
  https://git.io/brew-troubleshooting
/usr/local/Homebrew/Library/Homebrew/utils.rb:86:in `odeprecated'
/usr/local/Homebrew/Library/Homebrew/u

[2016-11-13 16:54] jormungand commented on #37
quick local fix:

[code]

[code]

[2016-11-15 17:53] JiriTrecak commented on #37
Merged the fix, thank you all for your work <3

[2016-11-15 17:53] #37 closed

[2016-11-15 18:03] JiriTrecak opened #43 "Laurine's younger Sister - Image Generator [name pending]"
Hello everyone,

I was thinking about making the same generator as Laurine for the image assets as well since the base is solid and resource generators that are available do not seem to do the job properly. It would work the same way, with similar options, through command-line or as build script - with a primary goal to generate nested result that you would use similarly as Laurine:

`Localization

[2016-12-01 14:52] jamesbebbington commented on #38
Hey @JiriTrecak could you tag a new release with Swift 3.0 support please. I'm seeing `0.2.2` back from March 24th as the latest on GitHub and Homebrew. Thanks.

[2017-02-06 14:42] seyhunak commented on #38
@JiriTrecak Still no Swift 3 support? Version 0.2.2 in Homebrew. Any updates for Swift 3? Thanks.

[2017-03-03 17:23] robtimp commented on #43
@JiriTrecak I think this could be very useful.

[2017-03-05 09:54] ed-mejia commented on #43
Not sure how useful could be, now that we have image [literals](https://developer.apple.com/swift/blog/?id=33)

[2017-03-28 21:06] andriichernenko opened #47 "Generated Localizations file is incomplete if input file contains certain characters"
Spent some time today figuring out why out of 200+ strings Laurine generated localizations only for 17. Turned out it was caused by an illegal character at the end of one line which looks like normal space (I asked a colleague with Windows machine to translate the file for me):

[code]

I have no idea what this thing is, but it breaks `NSDictionary(contentsOfFile:)` on which Laurine relies to read

[2017-03-29 11:26] JiriTrecak commented on #47
Thank you for your feedback @deville, I will try to investigate. Most probably I will have to go through entire file before parsing it out and just replace those characters, but I'll have to try to figure out some generic way (and probably also give some error message it all else fails.

Have a great day,
Jiri

[2017-06-09 20:40] pgorzelany opened #51 "Swift 4 migration"
Just tried to migrate a project to Swift 4 and it gives me an error on the Laurine build phase. Should probably be updated for Swift 4.

[2017-06-10 12:12] JiriTrecak commented on #51
Hey Piotr,

I will be working on Swift 4 sometime over next few weeks as it is still being finalized. If you need it till then, I suggest forking it and (if you wish) even providing pull request, I can create S4 branch for it sooner.

As a workaround, it should be possible to force the compiler to compile Laurine in Swift 3 (-swift-version 3 compiler option for the dependency), though I haven't te

[2017-06-10 12:14] #30 closed

[2017-06-10 12:16] JiriTrecak commented on #29
It has been a long time, but I am getting back into it and I will be preparing unit tests with S4 version, making it more stable and safe. Moving this to a new ticket. Thank you

[2017-06-10 12:16] #29 closed

[2017-06-10 12:26] JiriTrecak opened #52 "S3, S4 Support + Laurine Rework (announcement)"
Since Apple is releasing Swift 4 sometime this fall, I will be going ahead and preparing a new version for it. This will also be a considerable overhaul of Laurine as I have few improvements in mind, most notably unit tests and rework of the script so it can be edited and worked on more easily, also performance updates for large files. The goal though is to preserve input or output, giving you no

[2017-06-10 12:28] JiriTrecak commented on #51
Please do refer to #52 for any further comments.

[2017-06-10 12:28] #51 closed

[2017-06-10 12:29] #43 closed

[2017-06-10 12:31] JiriTrecak commented on #15
This will be fixed in upcoming Laurine 2.0. Please refer to #52 for any further comments.

[2017-06-10 12:31] #15 closed

[2017-06-10 12:31] JiriTrecak commented on #25
This will be fixed in upcoming Laurine 2.0. Please refer to #52 for any further comments.

[2017-06-10 12:31] #25 closed

[2017-06-10 12:32] JiriTrecak commented on #47
This will be fixed in upcoming Laurine 2.0, which will have a debug option that will look for duplicities and errors in the file, and also probably strict parsing mode that will fail when something like this is encountered. Please refer to #52 for any further comments.

[2017-06-10 12:32] #47 closed

[2017-08-15 11:28] emartynov opened #54 "Question: What about memory?"
I read that struct is kept in the memory, so if you have many strings that it might be problematic.
Am I right?

[2017-08-25 19:15] IordacheClaudiu opened #55 "Objc localization - String with format specifiers"
Hi,
When I try to create the localization for Obj-C the script generates the following method:
[code]
Is this the desired behaviour?
Best regards.

[2017-09-18 14:25] mikeCalvir commented on #52
Hi, if you get the chance, an interim version that did a simple migration to Swift 4 would be appreciated, so that apps using Laurine can continue to be built easily using Xcode 9 (at the moment the build script fails due to Swift 4 being expected).
Without needing any of the other changes on your list, this would keep Laurine active :)
Good luck with the updates!

[2017-09-18 15:07] JiriTrecak commented on #52
Internally, I already have it done, expect it within next 2-3 days :) Thank you for your patience!

[2017-09-18 15:23] mikeCalvir commented on #52
Sounds great! No, thank you for this work! :)

[2017-09-27 22:25] mikeCalvir commented on #52
<whistling a pleasant tune in the background, glances over at your direction occasionally with a hopeful expression>

[2017-10-01 07:30] kermankohli commented on #52
@JiriTrecak any updates on this?

[2017-10-09 09:30] mikeCalvir commented on #52
@JiriTrecak Come on give us something :)
2-3 days eh!
Xcode 9 keeps breaking my project whenever it gets launched by accident :/

[2017-10-09 09:31] JiriTrecak commented on #52
Sorry for that. A lot of happening lately with my startup. It will be done today, I promise :)

[2017-10-09 11:14] mikeCalvir commented on #52
It would be really appreciated! For me now I have a project I can't build because LaurineGenerator.swift outputs a zero byte header and so the rest of the project can't find the Localizations symbol. I've no idea why it suddenly changed except perhaps that Xcode 9 did some Swift messing about when it launched. I've replace the LG.swift file however and it hasn't helped, so I'm kinda stuck at the m

[2017-10-10 07:52] JiriTrecak commented on #52
It is done. The master branch now allows you to run it in XCode 9, both under 3.2 and 4.0 swift. I've reworked the example for XCode 9 / S4, so that should be working properly now.

I am preserving the older versions, so:
Legacy Swift 2.2: https://github.com/JiriTrecak/Laurine/tree/Swift-2.2
Legacy Swift 3 (Xcode 8): https://github.com/JiriTrecak/Laurine/tree/Swift-3.0

I'll keep this open until y

[2017-10-10 08:29] mikeCalvir commented on #52
Thanks Jiri, sounds good I will use it soon.
That automatic translation system looks great!

[2017-11-14 07:55] JiriTrecak commented on #54
Technically, this is correct. BUT at the same time, you will hit problems with millions of strings, not with hundreds - and that is most probably never happening, and if so, you are probably using something like a database to handle that.

[2017-11-14 07:55] #54 closed

[2017-11-14 07:57] JiriTrecak commented on #55
This is correct because this is the only way how I can preserve the dot behavior in Obj-C (say people.header.title(x)). It is also a very performant solution - be it that the definition is little wild. Hope it helps :)

Cheers, Jiri

[2017-11-14 07:57] #55 closed

[2018-02-19 08:11] bdolewski opened #58 "Laurine fails at -d parameter"
Hi,
I've updated Laurine to the latest version in my project. However when I set up the script (inside Xcode build phases) then I've got this message:

[code]

This is my command to run Laurine:

``"$LAURINE_PATH" -i "$SOURCE_PATH" -o "$OUTPUT_PATH" -c -d "-" ``

It does not work with  ``-d "-"`` neither with ``-d -``.
Do you know how to fix it?

[2018-03-27 16:32] hisaac opened #59 "(Question) Fallback handling"
Hi! I just got turned onto this library from the [Awesome iOS](http://awesomeios.com) mailing list. I think this library could help my current projects a ton!

One question, does Laurine handle fallbacks gracefully? For instance, if the phone's language is set to German, and a requested key is not in the German `Localizable.strings` file, will it fall back to using the Base language's value?

[2018-04-07 17:55] soberman opened #60 ""Error.Title.General" is not recognized by Laurine"
Hi!

Laurine, for some reason, just doesn't see this localization string: `"Error.Title.General"`. It doesn't even create a top-most `struct` for the `Error`. Is it intentional behaviour?

Thanks in advance.

[2018-04-18 15:22] robtimp commented on #58
@bdolewski Looks like this is due to a current issue with hyphens as parameter arguments. I've opened a PR with a fix

[2018-05-26 14:33] thierryH91200 opened #63 ""\\(variable)" not work"
I have a code a bit like that

[code]

in the file Localizable.strings (English)

`"ListeOperation.info" = "%d opérations Dépenses : \(formattedDepense) Revenus : \(formattedrevenu) Solde : \(formattedAmount)";
`

and  file Localizations.swift

[code]

it does not work how could I do ??

"\\(variable)"  is not taken updated

[2018-05-26 14:57] thierryH91200 commented on #63
i have found the soluce

"ListeOperation.info" = "%d opérations Dépenses : %@ Revenus : %@ Solde : %@";

[2018-05-26 14:57] #63 closed, assigned to nobody

[2018-08-02 10:40] daaa57150 opened #66 "Feature request: use Base translation as comment"
Currently when Laurine generates the static vars, there is no comment:

[code]
In my case, I use a [BartyCrouch](https://github.com/Flinesoft/BartyCrouch) script after the Laurine script, which uses the comments to populate all my other translation files (everything is in 24 languages in my app).

They end up with a useless comment on every key:
[code]

I'd really like to have the option to tell L

[2019-03-27 05:25] emilagervigstarup opened #67 "Xcode 10.2 error"
I get this error when running in Xcode 10.2 - Swift 4.2

`0.	Program arguments: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/swift -frontend -interpret /Users/emil/Virksomheder/Projekter/sense-ios/Sense/Sense/Libraries/LaurineGenerator.swift -enable-objc-interop -sdk /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX

[2019-03-28 07:29] lch88 commented on #67
Same here.

I've been running the laurine script in swift 5.

[2019-03-29 12:37] daaa57150 commented on #67
Same here after updating the OS.

It's weird because we tried to debug the script by integrating it in a macos command line project and feeding it the parameters directly, and this worked no problem.
We tried swift version 4, 4.2 and 5, they all worked.

It fails only as a script in the build phases or from the command line
```swift LaurineGenerator.swift -i Localizable.strings -c -o Localizations

[2019-03-29 12:41] emilagervigstarup commented on #67
I downloaded Xcode 10.1.
In Xcode changed Command Line Tools to Xcode 10.1.
With that setting I can run
`swift LaurineGenerator.swift -i Localizable.strings -c -o Localizations.swift`
in Terminal and it creates the Localizations.swift file fine.
I use that as a workaround right now.

[2019-04-09 06:19] ppth0608 commented on #67
Same here :)

[2019-04-13 18:07] mflint commented on #67
Hello, this seems to be because Laurine is being run as a script; if you compile it to an executable in a separate step, then it's fine:

Here's my updated Run Script build phase:
[code]

(`env -i` forces `swiftc` to run without Xcode environment variables - otherwise it tries to build an ARM binary)

cc @emilpedersen @lch88 @daaa57150 @ppth0608

[2019-04-13 18:12] mflint commented on #67
(Heh, it would have been easier to just put the `swiftc` command into the existing Build Script phase, rather than making another!)

[2019-04-15 17:39] alecmontgomery commented on #67
Thanks mflint! It worked. I added `mkdir -p $PROJECT_DIR/../Tools/Laurine/bin/` before `# Build laurine binary if necessary` to suppress an error about the bin directory not existing...

[2019-04-20 21:31] hypnotic commented on #67
@emilpedersen @alecmontgomery Can any of you post you full script here please? I can't get it to work. Thanks.
Meanwhile I have 10.1 version to run Laurine script only and work with 10.2 because my device is already in that version.

[2019-04-21 17:29] hypnotic commented on #67
Just to be clear, and based on @mflint and @alecmontgomery comments, here is the complete code:

[code]

Just make sure the paths are ok. In my case, I have the app inside the "App" folder and so the paths have that. The ```mkdir``` command uses the variable ```$LAURINE_BIN_PATH``` created above.

I hope its clear for everyone.

[2019-05-22 17:58] pacu commented on #67
In my case I got the script running but, the camel casing is broken. the key SomeTestViewController. is generated as Sometestviewcontroller

edit: just remove -c flag and it will be fine

[2019-06-18 13:45] PiotrWitczak commented on #67
I try to build Laurine in build phrase as above and I have these errors.
`
Showing Recent Messages
:-1: + env -i swiftc -emit-executable -o /Users/wikiwiktor/Documents/WorkSpace/iOS/ig-ios/InfoGym/../bin/laurine /Users/wikiwiktor/Documents/WorkSpace/iOS/ig-ios/Libraries/Laurine/LaurineGenerator.swift

/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.14.s

[2019-07-30 06:38] SandeepAggarwal commented on #67
@PiotrWitczak Did you able to make it work?

[2019-08-04 14:47] felipenandz commented on #67
Hi Guys,

I'm still having such a problem with the script. Using the script you published here the code runs but doesn't modify or add the string. It's not working properly and I don't know why.. I'm still getting the

Segmentation fault 11
Command PhaseScriptExecution failed with a nonzero exit code
I would appreciate if someone could help me.

I've got Xcode 10.1.3
Thank you very much!

[2019-08-04 23:09] mflint commented on #67
@felipenandz Can you post your script please?

[2019-08-05 07:38] felipenandz commented on #67
@mflint
Sure ,

I dowloaded the project Laurine from the Repo and as expected their code is not working in Xcode 10.1.3 giving the same Problem. So I put your script there.

It's giving this error

set -x

 Get base path to project

BASE_PATH="$PROJECT_DIR/$PROJECT_NAME"

--------- START OF YOUR CONFIGURATION (change Path_To_.. to fit)

 Get path to Laurine Generator script its the binary
LAURINE_

[2019-08-05 12:43] mflint commented on #67
@felipenandz

Your problem is that `mkdir -p $LAURINE_BIN_PATH` is making a directory with the name `bin/laurine/`, when it should just be making the directory `bin/`.

I'd change the script like this:
[code]

... and further down:
[code]

Then the script will make `bin/` directory, then compile the laurine binary into `bin/laurine`.

(You'll also need to manually delete the directory `bin/laurine

[2019-08-05 13:11] felipenandz commented on #67
@mflint

All the best to you , your family and your generations!

It works.. Thank you very much!

[2019-08-05 14:34] felipenandz commented on #67
@mflint

It all works great in the Laurine Project , but when I try on mine it's creating always a folder with the name of my project inside, and inside that folder with my project name another folder that calls ... This one always empty.

I'm almost giving up of Laurine.. That's incredible.

It's the same code man , I just changed the paths... It runs but don't generate a thing..

set -x

# Get b

[2019-08-05 15:10] felipenandz commented on #67
Showing Recent Messages

:-1: /Users/fnandz/Library/Developer/Xcode/DerivedData/BuddyBank-dtfysnehoqeuyketrwkzcjvapxux/Build/Intermediates.noindex/BuddyBank.build/Debug-iphonesimulator/BuddyBank.build/Script-3A6AFF0320F792B000FF7FAC.sh: line 33: bin/laurine: No such file or directory

[2019-08-05 15:12] JiriTrecak commented on #67
Hey guys - Very long time no see. I have been helming my startup, https://supernova.io/ and it has been absolutely crazy - though it is something you might be interested in. That being said, I have definitely didn't stop to observe this project and I have recently started fixing the issues and improving laurine in general. I expect that I could have the fixed version done and released within few d

[2019-08-05 15:15] felipenandz commented on #67
It works!!! Perfect, all good! :)
I copied Laurine exe from the another project and put on mine.. Now is going well.. I don't know why , but it's working! Thank you for the attention

@mflint

[2019-08-05 16:00] felipenandz commented on #67
@mflint

Do you have any idea why it is executed like this and not the old way as it was working in xcode 10.1.1

Just to know , because I need to explain it. But if you don't it Ok anyway , it's all working good.

[2019-08-05 20:44] mflint commented on #67
I don't know. I _guess_ something has changed with the Swift interpreter, which means it cannot successfully parse/execute the Laurine script. But luckily it _is_ able to compile the script into a binary, which we can then execute. ¯\_(ツ)_/¯

[2020-09-10 14:01] MatyasKriz commented on #67
If you're looking for generating assets and others among localizables, consider moving to [SwiftGen](https://github.com/SwiftGen/SwiftGen) which is still maintained and under active development.